vti_encoding:SR|utf8-nl
vti_author:SR|Administrator
vti_timecreated:TR|13 Jun 2001 19:00:07 -0000
vti_timelastmodified:TR|13 Jun 2001 19:00:08 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|13 Jun 2001 19:00:08 -0000
vti_filesize:IR|2271
vti_cachedlinkinfo:VX|S|artbanna.gif S|arthsepa.gif S|artbul1a.gif S|artbul2a.gif S|artbul3a.gif S|artnvhna.gif S|artnvhha.gif S|artnvhsa.gif S|artnvvna.gif S|artnvvsa.gif S|artnvvha.gif S|arthomna.gif S|arthomha.gif S|arthomsa.gif S|artnexna.gif S|artnexha.gif S|artnexsa.gif S|artprena.gif S|artpreha.gif S|artpresa.gif S|artupbna.gif S|artupbha.gif S|artupbsa.gif S|artbul1a.gif S|artbul2a.gif S|artbul3a.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/artsy/artbanna.gif FSUS|_themes/artsy/arthsepa.gif FSUS|_themes/artsy/artbul1a.gif FSUS|_themes/artsy/artbul2a.gif FSUS|_themes/artsy/artbul3a.gif FSUS|_themes/artsy/artnvhna.gif FSUS|_themes/artsy/artnvhha.gif FSUS|_themes/artsy/artnvhsa.gif FSUS|_themes/artsy/artnvvna.gif FSUS|_themes/artsy/artnvvsa.gif FSUS|_themes/artsy/artnvvha.gif FSUS|_themes/artsy/arthomna.gif FSUS|_themes/artsy/arthomha.gif FSUS|_themes/artsy/arthomsa.gif FSUS|_themes/artsy/artnexna.gif FSUS|_themes/artsy/artnexha.gif FSUS|_themes/artsy/artnexsa.gif FSUS|_themes/artsy/artprena.gif FSUS|_themes/artsy/artpreha.gif FSUS|_themes/artsy/artpresa.gif FSUS|_themes/artsy/artupbna.gif FSUS|_themes/artsy/artupbha.gif FSUS|_themes/artsy/artupbsa.gif FSUS|_themes/artsy/artbul1a.gif FSUS|_themes/artsy/artbul2a.gif FSUS|_themes/artsy/artbul3a.gif
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|
vti_syncwith_kineticresearchinc.com\:80:TR|13 Jun 2001 19:00:07 -0000
vti_syncwith_www.kineticresearchinc.com\:80:TR|13 Jun 2001 19:00:08 -0000
