vti_encoding:SR|utf8-nl
vti_author:SR|Administrator
vti_timecreated:TR|13 Jun 2001 19:00:07 -0000
vti_timelastmodified:TR|13 Jun 2001 19:00:08 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|13 Jun 2001 19:00:08 -0000
vti_filesize:IR|1817
vti_cachedlinkinfo:VX|S|arthsepd.gif S|artbul1d.gif S|artbul2d.gif S|artbul3d.gif S|artbannd.gif S|artnvhnd.gif S|artnvhsd.gif S|artnvvnd.gif S|artnvvsd.gif S|arthomed.gif S|artnextd.gif S|artprevd.gif S|artupbtd.gif S|artbul1d.gif S|artbul2d.gif S|artbul3d.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/artsy/arthsepd.gif FSUS|_themes/artsy/artbul1d.gif FSUS|_themes/artsy/artbul2d.gif FSUS|_themes/artsy/artbul3d.gif FSUS|_themes/artsy/artbannd.gif FSUS|_themes/artsy/artnvhnd.gif FSUS|_themes/artsy/artnvhsd.gif FSUS|_themes/artsy/artnvvnd.gif FSUS|_themes/artsy/artnvvsd.gif FSUS|_themes/artsy/arthomed.gif FSUS|_themes/artsy/artnextd.gif FSUS|_themes/artsy/artprevd.gif FSUS|_themes/artsy/artupbtd.gif FSUS|_themes/artsy/artbul1d.gif FSUS|_themes/artsy/artbul2d.gif FSUS|_themes/artsy/artbul3d.gif
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|
vti_syncwith_kineticresearchinc.com\:80:TR|13 Jun 2001 19:00:07 -0000
vti_syncwith_www.kineticresearchinc.com\:80:TR|13 Jun 2001 19:00:08 -0000
