vti_encoding:SR|utf8-nl
vti_author:SR|Administrator
vti_timecreated:TR|13 Jun 2001 19:00:07 -0000
vti_timelastmodified:TR|13 Jun 2001 19:00:08 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|13 Jun 2001 19:00:08 -0000
vti_filesize:IR|1918
vti_cachedlinkinfo:VX|S|artnavgl.gif S|arttilea.jpg
vti_cachedsvcrellinks:VX|FSUS|_themes/artsy/artnavgl.gif FSUS|_themes/artsy/arttilea.jpg
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|
vti_syncwith_kineticresearchinc.com\:80:TR|13 Jun 2001 19:00:07 -0000
vti_syncwith_www.kineticresearchinc.com\:80:TR|13 Jun 2001 19:00:08 -0000
