vti_encoding:SR|utf8-nl
vti_author:SR|Administrator
vti_timecreated:TR|26 Jun 2001 17:02:43 -0000
vti_timelastmodified:TR|26 Jun 2001 17:02:44 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|26 Jun 2001 17:02:44 -0000
vti_filesize:IR|2543
vti_cachedlinkinfo:VX|S|arthsepa.gif S|artbul1a.gif S|artbul2a.gif S|artbul3a.gif S|artbanna.gif S|artnvhna.gif S|artnvhha.gif S|artnvhsa.gif S|artnvvna.gif S|artnvvha.gif S|artnvvsa.gif S|arthomna.gif S|arthomha.gif S|arthomsa.gif S|artnexna.gif S|artnexha.gif S|artnexsa.gif S|artprena.gif S|artpreha.gif S|artpresa.gif S|artupbna.gif S|artupbha.gif S|artupbsa.gif S|artbul1a.gif S|artbul2a.gif S|artbul3a.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/kinetic/arthsepa.gif FSUS|_themes/kinetic/artbul1a.gif FSUS|_themes/kinetic/artbul2a.gif FSUS|_themes/kinetic/artbul3a.gif FSUS|_themes/kinetic/artbanna.gif FSUS|_themes/kinetic/artnvhna.gif FSUS|_themes/kinetic/artnvhha.gif FSUS|_themes/kinetic/artnvhsa.gif FSUS|_themes/kinetic/artnvvna.gif FSUS|_themes/kinetic/artnvvha.gif FSUS|_themes/kinetic/artnvvsa.gif FSUS|_themes/kinetic/arthomna.gif FSUS|_themes/kinetic/arthomha.gif FSUS|_themes/kinetic/arthomsa.gif FSUS|_themes/kinetic/artnexna.gif FSUS|_themes/kinetic/artnexha.gif FSUS|_themes/kinetic/artnexsa.gif FSUS|_themes/kinetic/artprena.gif FSUS|_themes/kinetic/artpreha.gif FSUS|_themes/kinetic/artpresa.gif FSUS|_themes/kinetic/artupbna.gif FSUS|_themes/kinetic/artupbha.gif FSUS|_themes/kinetic/artupbsa.gif FSUS|_themes/kinetic/artbul1a.gif FSUS|_themes/kinetic/artbul2a.gif FSUS|_themes/kinetic/artbul3a.gif
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|
vti_syncwith_kineticresearchinc.com\:80:TR|26 Jun 2001 17:02:43 -0000
vti_syncwith_www.kineticresearchinc.com\:80:TR|26 Jun 2001 17:02:44 -0000
