vti_encoding:SR|utf8-nl
vti_author:SR|Administrator
vti_timecreated:TR|26 Jun 2001 17:02:43 -0000
vti_timelastmodified:TR|26 Jun 2001 17:02:44 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|26 Jun 2001 17:02:44 -0000
vti_filesize:IR|2532
vti_cachedlinkinfo:VX|S|arthsepd.gif S|artbul1d.gif S|artbul2d.gif S|artbul3d.gif S|artbannd.gif S|artnvhnd.gif S|artnvhnd.gif S|artnvhsd.gif S|artnvvnd.gif S|artnvvnd.gif S|artnvvsd.gif S|arthomed.gif S|arthomed.gif S|arthomed.gif S|artnextd.gif S|artnextd.gif S|artnextd.gif S|artprevd.gif S|artprevd.gif S|artprevd.gif S|artupbtd.gif S|artupbtd.gif S|artupbtd.gif S|artbul1d.gif S|artbul2d.gif S|artbul3d.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/kinetic/arthsepd.gif FSUS|_themes/kinetic/artbul1d.gif FSUS|_themes/kinetic/artbul2d.gif FSUS|_themes/kinetic/artbul3d.gif FSUS|_themes/kinetic/artbannd.gif FSUS|_themes/kinetic/artnvhnd.gif FSUS|_themes/kinetic/artnvhnd.gif FSUS|_themes/kinetic/artnvhsd.gif FSUS|_themes/kinetic/artnvvnd.gif FSUS|_themes/kinetic/artnvvnd.gif FSUS|_themes/kinetic/artnvvsd.gif FSUS|_themes/kinetic/arthomed.gif FSUS|_themes/kinetic/arthomed.gif FSUS|_themes/kinetic/arthomed.gif FSUS|_themes/kinetic/artnextd.gif FSUS|_themes/kinetic/artnextd.gif FSUS|_themes/kinetic/artnextd.gif FSUS|_themes/kinetic/artprevd.gif FSUS|_themes/kinetic/artprevd.gif FSUS|_themes/kinetic/artprevd.gif FSUS|_themes/kinetic/artupbtd.gif FSUS|_themes/kinetic/artupbtd.gif FSUS|_themes/kinetic/artupbtd.gif FSUS|_themes/kinetic/artbul1d.gif FSUS|_themes/kinetic/artbul2d.gif FSUS|_themes/kinetic/artbul3d.gif
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|
vti_syncwith_kineticresearchinc.com\:80:TR|26 Jun 2001 17:02:43 -0000
vti_syncwith_www.kineticresearchinc.com\:80:TR|26 Jun 2001 17:02:44 -0000
