vti_encoding:SR|utf8-nl
vti_author:SR|Administrator
vti_timecreated:TR|26 Jun 2001 17:02:43 -0000
vti_timelastmodified:TR|26 Jun 2001 17:02:44 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|26 Jun 2001 17:02:44 -0000
vti_filesize:IR|1918
vti_cachedlinkinfo:VX|S|artnavgl.gif S|arttilea.jpg
vti_cachedsvcrellinks:VX|FSUS|_themes/kinetic/artnavgl.gif FSUS|_themes/kinetic/arttilea.jpg
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|
vti_syncwith_kineticresearchinc.com\:80:TR|26 Jun 2001 17:02:43 -0000
vti_syncwith_www.kineticresearchinc.com\:80:TR|26 Jun 2001 17:02:44 -0000
